# Upper/Lower Object Type

In [1]:

import glob
import pandas as pd

objects_df = pd.read_hdf('/home/richard/Git/bbk-mqaf/data/latest/field.h5')

In [4]:
total_objects = len(objects_df)

In [2]:
obj_types = objects_df['[objectType'].value_counts()

In [3]:
lower_types = obj_types[obj_types.index.str.islower()]

## Upper/Lower Case Object Types

In [10]:
# Now go through each with lowercase, and check if it also exists in original list (upper case first letter for the comparision) 

# Index - Singular Name, Count, Plural name, count
duplicates = pd.DataFrame()
total_lower = 0
total_noupper = 0

data = []
data_noupper = []
for index, value in lower_types.items():
    upper = index.capitalize()
    if upper in obj_types:
        count = obj_types.get(upper)
        total_lower += value
        data.append([upper, count, index, value])
    else:
        # Even stranger - no uppercase version exists - probably a typo
        total_noupper += value
        data_noupper.append([index, value])

duplicates = pd.DataFrame(data, columns = ["Uppercase Name", "Uppercase Objects", "lowercase Name", "lowercase Count"])
     
noupper = pd.DataFrame(data_noupper, columns = ["lowercase Name", "lowercase Count"])   

duplicates.sort_values(by=['lowercase Count'], ascending=False).head(25)

,Uppercase Name,Uppercase Objects,lowercase Name,lowercase Count
0,Photograph,123816,photograph,32448
1,Photographs,2758,photographs,5303
2,Print,353320,print,3614
3,Drawing,86405,drawing,2064
4,Tile,7177,tile,1920
5,Photographic negative,9550,photographic negative,1897
6,Paper model,1570,paper model,1324
7,Shoe,403,shoe,1181
8,Camera,55,camera,800
9,Fragment,9079,fragment,560
10,Prints,724,prints,520
11,Trade card,302,trade card,457
12,Book,3272,book,425
13,Design,24428,design,381
14,Page,6605,page,368
15,Architectural drawing,3726,architectural drawing,343
16,Illustration,1350,illustration,343
17,Poster,25300,poster,311
18,Broadsheet,49,broadsheet,301
19,Costume design,9835,costume design,260
20,Plotter drawing,63,plotter drawing,232
21,Watercolour,8782,watercolour,201
22,Tile fragment,60,tile fragment,155
23,Wallpaper,9708,wallpaper,144
24,Postcard,1017,postcard,130

In [ ]:
print(f"Total Objects {total_objects} of which {total_lower} ({(total_lower/total_objects)*100:.4f}%) are possible plural duplicates")

In [ ]:
duplicates.sort_values(by=['lowercase Count'], ascending=False).head(25)

## No Upper Equivalent

In [8]:
print(f"Total Objects {total_objects} of which {total_noupper} ({(total_noupper/total_objects)*100:.4f}%) are lower case only")

Total Objects 1238467 of which 1557 (0.1257%) are lower case only

In [9]:
noupper.sort_values(by=['lowercase Count'], ascending=False).head(25)

                  lowercase Name  lowercase Count
0              photo-cut collage              250
1     computer-generated drawing               73
2                  trade receipt               57
3   label (identifying artifact)               47
4                          heels               46
5              photograph albums               45
6           glass plate negative               39
7                         frames               35
8             embroidery threads               31
9                  bust terminal               27
10                artist's proof               24
11         ecclesiastical design               23
14                   dry measure               22
12                       vessels               22
13                    end papers               22
15              miniature letter               21
16                   flash bulbs               19
17                  certificates               19
18                   ink rubbing               16
19                      marbling               14
20               glass negatives               13
21           photographic plates               13
22                    autochrome               11
23               printer's proof               10
24             flash attachments               10